Combining and Exporting Data - Exercise 4.6

01 Importing Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

Importing Data

In [2]:
#create path
path = r'C:\Users\mngit\OneDrive\Data Analytics\Project Excercises\Achievement 4\Instacart Basket Analysis'

In [3]:
#import df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'df_ords_prior.csv'), index_col = False )

In [4]:
#create list to exclude additional index column
vars_list = ['order_id', 'user_id', 'eval_set','order_number', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order']

In [5]:
#import orders data
df_ords = pd.read_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'), usecols = vars_list )

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,7.0
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 7)

In [10]:
# merge the two dataframes
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [12]:
# merge flag
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
#export to pickle
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))