4.7 Deriving New Variables

Importing libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

Importing data

In [2]:
#create path
path = r'C:\Users\mngit\OneDrive\Data Analytics\Project Excercises\Achievement 4\Instacart Basket Analysis'

In [3]:
 # import ords_prods_merged
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))

In [4]:
# create a subset
df = ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 15)

In [6]:
#define price_label function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return np.nan

In [7]:
#Apply function
df['price_range'] = df.apply(price_label, axis=1)

C:\Users\mngit\AppData\Local\Temp\ipykernel_11548\3783715489.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
#check values in new column
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
#confirm max value in price column
df['prices'].max()

14.8

In [10]:
#Apply function
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

C:\Users\mngit\AppData\Local\Temp\ipykernel_11548\960633838.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [14]:
#create High-range product condition
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [15]:
#create Mid-range product condition
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [16]:
#create low-range product condition
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [17]:
#count up the number of products within each label
ords_prods_merge['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [18]:
# check frequency of the “orders_day_of_week” column
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [19]:
#create new column for busiest day
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [20]:
#create empty shell to place loop resuts
ords_prods_merge['busiest_day'] = result

In [21]:
#check no. of sales on the different types of days
ords_prods_merge['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

Task 4.7 Answers

In [22]:
# check frequency of the “orders_day_of_week” column
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [23]:
#create new column for 2 busiest days and 2 slowest days
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value <= 1:
    result.append("Busiest days")
  elif value == 3 or value == 4:
    result.append("Least busy days")
  else:
    result.append("Regularly busy")

In [24]:
ords_prods_merge['busiest_days'] = result

In [25]:
ords_prods_merge['busiest_days'].value_counts(dropna = False)

Regularly busy     12916111
Busiest days       11864412
Least busy days     7624336
Name: busiest_days, dtype: int64

Saturday and Sunday are the 2 busiest days while Tuesday and Wednesday are the 2 slowest days

In [26]:
# check frequency of the “order_hour_of_day” column
ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [27]:
#create new column for “Most orders,” “Average orders,” and “Fewest orders.”
result = []

for value in ords_prods_merge["order_hour_of_day"]:
  if value >= 10 and value <= 17:
    result.append("Most orders")
  elif value == 7 or value == 8 or value >= 18 and value <= 23 :
    result.append("Average orders")
  else:
    result.append("Fewest orders")

In [28]:
ords_prods_merge['busiest_period_of_day'] = result

In [29]:
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

Most orders       20751522
Average orders     8312313
Fewest orders      3341024
Name: busiest_period_of_day, dtype: int64

Most orders are between 10:00 and 17:00
Average no. of orders are between 7:00-8:00 and between 18:00-23:00
Least no. of orders are between 12:00 - 6:00

In [30]:
ords_prods_merge.shape

(32404859, 19)

In [31]:
# Export data to Pickle
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))